@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

$font-futura-round: 'Open Sans', sans-serif;
$font-futura-round-medium: 'Open Sans', $font-futura-round;



$color-dmdn-grey : #F9F9F9;
$color-dmdn-black :#000;
$color-dmdn-white :#fff;
$color-dmdn-red :#ff0000;

$bgcolor: #1A090D;
$font:#D17A22;
$color1:#797270;
$color2:#A7A7A9;
$color3:#8FB8DE;

/* :: ELEMENTS :: */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.frontpage{
        background-image: url("http://dasmerkendienie.com/upload/998a76924607c5396b978bb7341784e52ab4f49a17f84897c1b5b96e7c1e15b3e3f3797b8630f0c7861b80e224f795eb385a502cf4021f4e772b52938941b6bf.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        
}
.navbar-default, .navbar-brand{
    background-color: $font;
    border-color: #000;
    color:$font;
}
.searchresult{
    position:absolute;
    padding:0px;
    
    li{
        color:$color1;
        background-color: $font;
        width:auto;
        padding: 5px 10px;
        list-style-type: none;
        cursor: pointer;
    }
    li:hover{
        
        color:$color2;  
    }
    
}

.navbar-form
{
    border:0px;
}

.hide{
    display:none;
}

label{
    background-color: #000;
    color: $color-dmdn-white;
    padding: 5 10 5 10;
}
.jumbotron{
    
    opacity: 0.9;
}

.red{
    color:$color-dmdn-red;
}

.preview{
    display:none;
    
}
.preview.www{
    background-color: #fff;
}
.stream-item{
    background-color:$color-dmdn-white;
}
.stream-item,.stream-input{
    
    margin-bottom: 20px;

    .content p{
       font-size: 20px;
    }
    .text p{
        margin-left:10px;
        margin-top:10px;
    }
    
    color:#000;
    .www{
        img{
            width:200px;
            margin-right:20px;
            float:left;
        }
    }
    .img-responsive{
        margin-left: auto;
        margin-right: auto;
    }
}
a.hash{
    font-size: 20px;
}
.author{
    background-color: #F9F9F9;
    border-bottom: 1px solid #eee;
    height:80px;
    padding:20px;
    color:#000; 
    img{
        margin-right:20px;
        width:46px;
        height:46px;
        float:left;
    }
    .left, .right{
        width:50%;
        float:left;
        height:47px;
    }
    .AuthorMenu {  
        
        margin-left:auto;
        margin-right:0px;
        
        li{
            float:left; 
            cursor: pointer;
        }
    }

}

.mainrow, #stream{
    padding-right: 0px;
    padding-left: 0px;
    margin-right:22px;
    margin-left:8px;
    
}

.comment{
    
    color: #000;
    border-bottom: 1px solid #eee;
    img{
        float:left;
        width:45px;
        height:45px;
        margin-right:20px;
    }

}
.commentBox{
    color: #000;
    background-color: $color-dmdn-white;
    
}
.comment:after,.www:after{
    content:'';
    display:block;
    clear: both;
}

.btn{
    border-radius: 0px;
}

video {
  width: 100%    !important;
  height: auto   !important;
  max-height: 560px;
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}