@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);


$font-futura-round: 'Open Sans', sans-serif;
$font-futura-round-medium: 'Open Sans', $font-futura-round;



$color-dmdn-grey : #F9F9F9;
$color-dmdn-black :#000;
$color-dmdn-white :#fff;
$color-dmdn-red :#ff0000;

$bgcolor: #1A090D;
$font:#D17A22;
$color1:#797270;
$color2:#A7A7A9;
$color3:#8FB8DE;

body { 
    font-family: $font-futura-round;
    padding-top: 70px; 
    background-color:#f2f2f2;
}

.frontpage{
        background-image: url("http://dasmerkendienie.com/upload/998a76924607c5396b978bb7341784e52ab4f49a17f84897c1b5b96e7c1e15b3e3f3797b8630f0c7861b80e224f795eb385a502cf4021f4e772b52938941b6bf.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        
}
.navbar-default, .navbar-brand {
    background-color: #00003D;
    border-color: #000;
    color: #fff!important;
}
.menuLeft.mobile{
    position:fixed;
    z-index:1000;
    background-color: 010;
    top:40;
    height: 100%;
    padding-top:20px;
    width:66%;
    
}
.searchresult{
    position:absolute;
    padding:0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
    li{
        color:$color1;
        background-color: #fff;
        width:auto;
        padding: 5px 10px;
        list-style-type: none;
        cursor: pointer;
    }
    li:hover{
        
        background-color:#f9f9f9;  
    }
    
}


.navbar-form
{
    border:0px;
    padding: 0px 5px;
}

.hide{
    display:none;
}

label{
    background-color: #000;
    color: $color-dmdn-white;
    padding: 5 10 5 10;
}
.jumbotron{
    
    opacity: 0.9;
}

.red{
    color:$color-dmdn-red;
}

.preview{
    display:none;
    
}
.preview.www{
    background-color: #fff;
}
.stream-item{
    background-color:$color-dmdn-white;
    border: 1px solid #E6EBFA;
}
.stream-item,.stream-input{
    
    margin-bottom: 20px;
    border: 1px solid #E6EBFA;
    .content p{
       font-size: 20px;
    }
    .text {
        margin-left:20px;
        margin-right:20px;
        margin-top:10px;
        margin-bottom:10px;
        font-size:16px;
        a{
            font-weight:300;
            
            background-color:#5bc0de;
            border: 1px solid #46b8da;
            color:#fff;
            padding: 3px;
            margin:5px;
            
        }
        a:hover{
            background-color:#31b0d5;
            text-decoration:none;
        }
    }
    
    color:#000;
    .www{
        img{
            width:200px;
            margin-right:20px;
            float:left;
        }
    }
    .img-responsive{
        margin-left: auto;
        margin-right: auto;
    }
    .Likebox{
        margin-left: 9px;
    }
}
a.hash{
    font-size: 20px;
}
.author{
    background-color: #F9F9F9;
    border-bottom: 1px solid #eee;
    height:80px;
    padding:20px;
    color:#000; 
    
    img{
        margin-right:20px;
        width:46px;
        height:46px;
        float:left;
    }
    .left, .right{
        width:50%;
        float:left;
        height:47px;
    }
    .AuthorMenu {  
        
        margin-left:auto;
        margin-right:0px;
        
        li{
            float:left; 
            cursor: pointer;
        }
    }

}
.mainrow, #stream{
    padding-right: 0px;
    padding-left: 0px;
    margin-right:22px;
    margin-left:8px;
    
}
.commentForm{
    
 min-height:75px    
}
.commentList{
    
    .comment:first-child{
        margin-top:35px;
    }
    .comment{
        padding-bottom:10px;
    }
    .comment{

        color: #000;
        border-bottom: 1px solid #eee;
        img{
            float:left;
            width:45px;
            height:45px;
            margin-right:20px;
            margin-left:20px;
        }

    }
    .commentBox{
        color: #000;
        background-color: $color-dmdn-white;

    }
    .comment:after,.www:after{
        content:'';
        display:block;
        clear: both;
    }
}
.btn{
    border-radius: 0px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
video {
  width: 100%    !important;
  height: initial;
 
}

a{
    color:#777;
}
a:hover{
    color:#555;
}

.left-nav{
    height:33px;
}
.hashtag:first-child{
    padding-top: 200px;
}

.hashtag{
    
    a{
        height:20px;
        
    }
    a:hover{
        color:#555;
        
        background-color:#eee;
    } 
    ul{
        list-style: none;
        padding-left: 10px;
    }
    h3{
        padding-left: 10px;
    }
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#fblogin{
    background-color: rgb(124, 161, 208);
    color:#fff;
    
}
#fblogin:hover{
    background-color: #3b5998;
   
}
#glogin{
    background-color: rgba(199, 43, 43, 0.75);
    color:#fff;    
}
#glogin:hover{
    background-color: #F90101;
   
}
.btn-circle {
    width: 46px;
    height: 46px;
    text-align: center;
    padding: 7px 0;
    font-size: 22px;
    line-height: 1.42;
    border-radius: 35px;
}




.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 
#chat{
    height:400px;
    border:1px solid #fff;
    #textframe{
        padding-top:10px;
        height:350px;
        overflow: auto;
        p{
            margin:0px;
        }
    }
    img{
        max-height: 40px;
        max-width: 40px;
    }
    #chatinput{
        left: 0px;
        bottom: 0px;
        position: absolute;
        width: 100%;
        color:#000;
    }
}
#ChatUsers{
    img{
        max-height: 20px;
        max-width: 20px;
    }  
}

.signinBox{
    
    height:80px;
    padding:5px;
    margin-bottom: 10px;
    background-color:#fff;
    border: 1px solid #e6ebfa;
}

#NotificationBox{
    padding:5px;
    background-color:#fff;
    border: 1px solid #e6ebfa;
    img{
        max-height: 45px;
        max-width: 45px;

    }
}

.bounceInDown { 
    -webkit-animation-name: bounceInDown; 
    animation-name: bounceInDown; 
}

@-webkit-keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(30px); 
    } 
    80% { 
        -webkit-transform: translateX(-10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(30px); 
    } 
    80% { 
        transform: translateX(-10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 
.bounceInLeft { 
    -webkit-animation-name: bounceInLeft; 
    animation-name: bounceInLeft; 
}


.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}