@import 'color';
@import 'fonts';
.card{
  background-color: $color5;
  padding-top: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  header{
    font-size: 2em;
    color:$color2;
  }
  author{
    color:$color2;
  }
  picture{

    img{

      border-radius: 25px;
    }
  }
}
.action{

  button{
    background-color: inherit;
    margin-bottom:  2em;
    transition: all .2s ease-in-out;
    &:hover{
      text-decoration: none;
      transform: scale(1.1);

    }
    &:active{
      color:$color2;
      border: none;
      outline: none;
    }

  }
}

.editor{
  width: 100%;
  background-color: $color1;
  padding: 1em;
  border: 1px $color2 solid;
  code{
   background-color:   $color3;
  }
}


  comment{
    display: block;
    border:1px solid #ccc;
    padding-top: 1em;
  }


iframe{
  width:100%;
}
