
$color1: rgba(35, 31, 32, 1);
$color2: rgba(224, 221, 207, 1);
$color3: rgba(132, 0, 50, 1);
$color4: rgba(229, 149, 0, 1);
$color5: rgba(83, 75, 82, 1);


/* FEMI */
$color1: rgba(250, 227, 227, 1);
$color3: rgba(247, 212, 188, 1);
$color2: rgba(207, 165, 180, 1);
$color4: rgba(201, 139, 185, 1);
$color5: rgba(132, 107, 138, 1);


$color1: rgba(34, 34, 34, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(75, 78, 109, 1);
$color4: rgba(132, 220, 198, 1);
$color5: rgba(149, 163, 179, 1);

$color1: #f4f4f4;
$color2: #222;
$color3: #fcfcfc;
$color4: #ff7909;
$color5: #7c93ad;
