@charset "UTF-8";

/* FEMI */

@font-face {
  font-family: "fontello";
  src: url("/fonts/fontello.eot?61047590");
  src: url("/fonts/fontello.eot?61047590#iefix") format("embedded-opentype"), url("/fonts/fontello.woff2?61047590") format("woff2"), url("/fonts/fontello.woff?61047590") format("woff"), url("/fonts/fontello.ttf?61047590") format("truetype"), url("/fonts/fontello.svg?61047590#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61047590#fontello') format('svg');
  }
}
*/

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before {
  content: "\E800";
}

/* '' */

.icon-happy:before {
  content: "\E801";
}

/* '' */

.icon-wink:before {
  content: "\E802";
}

/* '' */

.icon-picture:before {
  content: "\E803";
}

/* '' */

.icon-like:before {
  content: "\E804";
}

/* '' */

.icon-devil:before {
  content: "\E805";
}

/* '' */

.icon-comment:before {
  content: "\E806";
}

/* '' */

.icon-list:before {
  content: "\E807";
}

/* '' */

.icon-coffee:before {
  content: "\E808";
}

/* '' */

.icon-sunglasses:before {
  content: "\E809";
}

/* '' */

.icon-displeased:before {
  content: "\E80A";
}

/* '' */

.icon-beer:before {
  content: "\E80B";
}

/* '' */

.icon-comment-empty:before {
  content: "\F0E5";
}

/* '' */

.card {
  background-color: #95a3b3;
  padding-top: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card header {
  font-size: 2em;
  color: white;
}

.card author {
  color: white;
}

.card picture img {
  border-radius: 25px;
}

.action button {
  background-color: inherit;
  margin-bottom: 2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.action button:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.action button:active {
  color: white;
  border: none;
  outline: none;
}

.editor-container {
  padding: 2em;
}

.editor {
  width: 100%;
  background-color: #222222;
  padding: 1em;
  border: 1px white solid;
}

.editor code {
  background-color: #4b4e6d;
}

.menubar button {
  font-size: 0.5em;
}

.comment-container .editor-container {
  padding: 0em;
  padding-bottom: 2em;
}

.comment-list {
  border: 1px solid #ccc;
}

.comment {
  width: 100%;
  display: block;
  padding-top: 1em;
  margin: 1em;
}

.comment .action {
  font-size: 0.8em;
}

iframe {
  width: 100%;
}


/*# sourceMappingURL=app.css.map*/