@charset "UTF-8";

/* FEMI */

@font-face {
  font-family: "fontello";
  src: url("/fonts/fontello.eot?61047590");
  src: url("/fonts/fontello.eot?61047590#iefix") format("embedded-opentype"), url("/fonts/fontello.woff2?61047590") format("woff2"), url("/fonts/fontello.woff?61047590") format("woff"), url("/fonts/fontello.ttf?61047590") format("truetype"), url("/fonts/fontello.svg?61047590#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61047590#fontello') format('svg');
  }
}
*/

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before {
  content: "\E800";
}

/* '' */

.icon-happy:before {
  content: "\E801";
}

/* '' */

.icon-wink:before {
  content: "\E802";
}

/* '' */

.icon-picture:before {
  content: "\E803";
}

/* '' */

.icon-like:before {
  content: "\E804";
}

/* '' */

.icon-devil:before {
  content: "\E805";
}

/* '' */

.icon-comment:before {
  content: "\E806";
}

/* '' */

.icon-list:before {
  content: "\E807";
}

/* '' */

.icon-coffee:before {
  content: "\E808";
}

/* '' */

.icon-sunglasses:before {
  content: "\E809";
}

/* '' */

.icon-displeased:before {
  content: "\E80A";
}

/* '' */

.icon-beer:before {
  content: "\E80B";
}

/* '' */

.icon-twitter:before {
  content: "\E80C";
}

/* '' */

.icon-facebook:before {
  content: "\E80D";
}

/* '' */

.icon-github:before {
  content: "\F056";
}

/* '' */

.icon-comment-empty:before {
  content: "\F0E5";
}

/* '' */

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 88.5714285714%;
}

@media screen and (max-width: 1020px) {
  .row {
    width: 88.2352941176%;
  }
}

@media screen and (max-width: 620px) {
  .row {
    width: 100%;
  }
}

.row-0 {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
}

.col-lg-0 {
  box-sizing: border-box;
  width: 0%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-0 {
  margin-left: 0%;
}

.col-lg-1 {
  box-sizing: border-box;
  width: 8.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-1 {
  margin-left: 8.3333333333%;
}

.col-lg-2 {
  box-sizing: border-box;
  width: 16.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-2 {
  margin-left: 16.6666666667%;
}

.col-lg-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-3 {
  margin-left: 25%;
}

.col-lg-4 {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-4 {
  margin-left: 33.3333333333%;
}

.col-lg-5 {
  box-sizing: border-box;
  width: 41.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-5 {
  margin-left: 41.6666666667%;
}

.col-lg-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-6 {
  margin-left: 50%;
}

.col-lg-7 {
  box-sizing: border-box;
  width: 58.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-7 {
  margin-left: 58.3333333333%;
}

.col-lg-8 {
  box-sizing: border-box;
  width: 66.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-8 {
  margin-left: 66.6666666667%;
}

.col-lg-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-9 {
  margin-left: 75%;
}

.col-lg-10 {
  box-sizing: border-box;
  width: 83.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-10 {
  margin-left: 83.3333333333%;
}

.col-lg-11 {
  box-sizing: border-box;
  width: 91.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-11 {
  margin-left: 91.6666666667%;
}

.col-lg-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-12 {
  margin-left: 100%;
}

@media screen and (max-width: 1020px) {
  .col-md-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-0 {
    margin-left: 0%;
  }

  .col-md-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width: 620px) {
  .col-sm-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-0 {
    margin-left: 0%;
  }

  .col-sm-1 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-1 {
    margin-left: 25%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-2 {
    margin-left: 50%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-3 {
    margin-left: 75%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-4 {
    margin-left: 100%;
  }
}

.streamitem {
  padding-top: 1em;
}

.card {
  background-color: #fcfcfc;
  overflow: hidden;
  word-break: word-break;
  padding-top: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card header {
  font-size: 2em;
  color: #222;
}

.card author {
  color: #222;
}

.card picture img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.profile picture img {
  width: 400px;
  height: auto;
}

.action button {
  background-color: inherit;
  margin-bottom: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}

.action button:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.action button:active {
  color: #222;
  border: none;
  outline: none;
}

@media screen and (max-width: 620px) {
  .action button {
    margin-bottom: 0.5em;
  }
}

.editor-container {
  padding: 2em;
}

@media screen and (max-width: 620px) {
  .editor-container {
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.editor {
  width: 100%;
  background-color: #f4f4f4;
  padding: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px #ccc solid;
}

@media screen and (max-width: 620px) {
  .editor {
    min-height: 150px;
    padding: 0em;
    margin: 0em;
  }
}

.editor code {
  background-color: #222;
}

.editor div {
  margin-top: 0em;
  padding-top: 0em;
  min-height: 110px;
}

.editor div:focus {
  outline: none;
}

.menubar button {
  font-size: 0.5em;
}

.comment-container .editor-container {
  padding: 0em;
  padding-bottom: 2em;
}

@media screen and (max-width: 620px) {
  .comment-container .editor-container {
    padding: 0em;
  }
}

.comment-list {
  border: 1px solid #ccc;
  margin-bottom: 2em;
}

.comment {
  width: 100%;
  display: block;
  padding-top: 1em;
  margin: 1em;
}

.comment .action {
  font-size: 0.8em;
}

iframe {
  width: 100%;
}


/*# sourceMappingURL=app.css.map*/