.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 88.5714285714%;
}

@media screen and (max-width: 1020px) {
  .row {
    width: 88.2352941176%;
  }
}

@media screen and (max-width: 620px) {
  .row {
    width: 89.6774193548%;
  }
}

.row-0 {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
}

.col-lg-0 {
  box-sizing: border-box;
  width: 0%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-0 {
  margin-left: 0%;
}

.col-lg-1 {
  box-sizing: border-box;
  width: 8.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-1 {
  margin-left: 8.3333333333%;
}

.col-lg-2 {
  box-sizing: border-box;
  width: 16.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-2 {
  margin-left: 16.6666666667%;
}

.col-lg-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-3 {
  margin-left: 25%;
}

.col-lg-4 {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-4 {
  margin-left: 33.3333333333%;
}

.col-lg-5 {
  box-sizing: border-box;
  width: 41.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-5 {
  margin-left: 41.6666666667%;
}

.col-lg-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-6 {
  margin-left: 50%;
}

.col-lg-7 {
  box-sizing: border-box;
  width: 58.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-7 {
  margin-left: 58.3333333333%;
}

.col-lg-8 {
  box-sizing: border-box;
  width: 66.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-8 {
  margin-left: 66.6666666667%;
}

.col-lg-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-9 {
  margin-left: 75%;
}

.col-lg-10 {
  box-sizing: border-box;
  width: 83.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-10 {
  margin-left: 83.3333333333%;
}

.col-lg-11 {
  box-sizing: border-box;
  width: 91.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-11 {
  margin-left: 91.6666666667%;
}

.col-lg-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-12 {
  margin-left: 100%;
}

@media screen and (max-width: 1020px) {
  .col-md-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-0 {
    margin-left: 0%;
  }

  .col-md-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width: 620px) {
  .col-sm-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.7985611511%;
    padding-right: 1.7985611511%;
  }

  .col-sm-shift-0 {
    margin-left: 0%;
  }

  .col-sm-1 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.7985611511%;
    padding-right: 1.7985611511%;
  }

  .col-sm-shift-1 {
    margin-left: 25%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.7985611511%;
    padding-right: 1.7985611511%;
  }

  .col-sm-shift-2 {
    margin-left: 50%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.7985611511%;
    padding-right: 1.7985611511%;
  }

  .col-sm-shift-3 {
    margin-left: 75%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.7985611511%;
    padding-right: 1.7985611511%;
  }

  .col-sm-shift-4 {
    margin-left: 100%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  background-color: #231f20;
  color: #e59500;
  margin: 0px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
}

h6 {
  color: #e0ddcf;
  font-size: 0.5666666667em;
  font-family: "Questrial", sans-serif;
}

h5 {
  color: #e0ddcf;
  font-size: 1.1333333333em;
  font-family: "Questrial", sans-serif;
}

h4 {
  color: #e0ddcf;
  font-size: 1.7em;
  font-family: "Questrial", sans-serif;
}

h3 {
  color: #e0ddcf;
  font-size: 2.2666666667em;
  font-family: "Questrial", sans-serif;
}

h2 {
  color: #e0ddcf;
  font-size: 2.8333333333em;
  font-family: "Questrial", sans-serif;
}

h1 {
  color: #e0ddcf;
  font-size: 3.4em;
  font-family: "Questrial", sans-serif;
}

nav {
  position: fixed;
  background-color: #e59500;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav h1 {
  margin-top: 0.5em;
  margin-left: 10px;
  font-size: 1.3em;
  color: #231f20;
  -webkit-box-flex: 3;
          flex-grow: 3;
  flex-basis: auto;
}

.language-select {
  color: #e0ddcf;
  flex-shrink: 1;
  width: 5em;
  padding: 0.5em;
}

.language-select:hover {
  cursor: pointer;
}

.language-select ul {
  color: #231f20;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

.language-select ul li {
  position: relative;
}

.language-select ul ul {
  padding-top: 0.8em;
}

.language-select ul ul li {
  color: #e0ddcf;
  padding: 0.5em;
  width: 5em;
  background-color: #534b52;
}

a {
  color: #e0ddcf;
  text-decoration: none;
}

img {
  max-width: 100%;
}

small {
  color: #534b52;
}

.form-field {
  padding-top: 1em;
}

.form-field label {
  width: 100%;
  display: inline-block;
  color: #e0ddcf;
}

.form-field input {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
}

.form-field .error {
  color: #840032;
  background-color: #e0ddcf;
  padding: 0.3em;
}

button {
  padding: 10px;
  border: 0px;
  font-size: 1.2em;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button.default {
  background-color: #e59500;
}

button.abort {
  color: #840032;
  background-color: #e0ddcf;
}


/*# sourceMappingURL=critical.css.map*/