.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 88.5714285714%;
}

@media screen and (max-width: 1020px) {
  .row {
    width: 88.2352941176%;
  }
}

@media screen and (max-width: 620px) {
  .row {
    width: 100%;
  }
}

.row-0 {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
}

.col-lg-0 {
  box-sizing: border-box;
  width: 0%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-0 {
  margin-left: 0%;
}

.col-lg-1 {
  box-sizing: border-box;
  width: 8.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-1 {
  margin-left: 8.3333333333%;
}

.col-lg-2 {
  box-sizing: border-box;
  width: 16.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-2 {
  margin-left: 16.6666666667%;
}

.col-lg-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-3 {
  margin-left: 25%;
}

.col-lg-4 {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-4 {
  margin-left: 33.3333333333%;
}

.col-lg-5 {
  box-sizing: border-box;
  width: 41.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-5 {
  margin-left: 41.6666666667%;
}

.col-lg-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-6 {
  margin-left: 50%;
}

.col-lg-7 {
  box-sizing: border-box;
  width: 58.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-7 {
  margin-left: 58.3333333333%;
}

.col-lg-8 {
  box-sizing: border-box;
  width: 66.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-8 {
  margin-left: 66.6666666667%;
}

.col-lg-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-9 {
  margin-left: 75%;
}

.col-lg-10 {
  box-sizing: border-box;
  width: 83.3333333333%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-10 {
  margin-left: 83.3333333333%;
}

.col-lg-11 {
  box-sizing: border-box;
  width: 91.6666666667%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-11 {
  margin-left: 91.6666666667%;
}

.col-lg-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1.6129032258%;
  padding-right: 1.6129032258%;
}

.col-lg-shift-12 {
  margin-left: 100%;
}

@media screen and (max-width: 1020px) {
  .col-md-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-0 {
    margin-left: 0%;
  }

  .col-md-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%;
  }

  .col-md-shift-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width: 620px) {
  .col-sm-0 {
    box-sizing: border-box;
    width: 0%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-0 {
    margin-left: 0%;
  }

  .col-sm-1 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-1 {
    margin-left: 25%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-2 {
    margin-left: 50%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-3 {
    margin-left: 75%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.2096774194%;
    padding-right: 1.2096774194%;
  }

  .col-sm-shift-4 {
    margin-left: 100%;
  }
}

/* FEMI */

body {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  background-color: #f4f4f4;
  color: #ff7909;
  margin: 0px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
}

h6 {
  color: #222;
  font-size: 0.4em;
  font-family: "Questrial", sans-serif;
}

h5 {
  color: #222;
  font-size: 0.8em;
  font-family: "Questrial", sans-serif;
}

h4 {
  color: #222;
  font-size: 1.2em;
  font-family: "Questrial", sans-serif;
}

h3 {
  color: #222;
  font-size: 1.6em;
  font-family: "Questrial", sans-serif;
}

h2 {
  color: #222;
  font-size: 2em;
  font-family: "Questrial", sans-serif;
}

h1 {
  color: #222;
  font-size: 2.4em;
  font-family: "Questrial", sans-serif;
}

#userBox {
  margin-top: 2em;
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
  text-align: center;
}

#userBox .avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-position: center;
  background-size: contain;
}

#userBox p {
  font-size: 0.8em;
  text-align: left;
}

nav {
  z-index: 999999;
  position: fixed;
  background-color: #ff7909;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav h1 {
  margin-top: 0.9em;
  margin-left: 10px;
  font-size: 0.9em;
  color: #f4f4f4;
  text-decoration: underline;
  -webkit-box-flex: 3;
          flex-grow: 3;
  flex-basis: auto;
}

#menu-select {
  color: #fcfcfc;
  flex-shrink: 1;
  width: 4em;
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
}

#menu-select:hover {
  cursor: pointer;
}

#menu {
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #222;
  position: fixed;
}

#menu ul {
  list-style: none;
  padding: 0px;
  padding-top: 0.8em;
  height: 100%;
}

#menu ul a {
  color: #f4f4f4;
}

#menu ul a:hover {
  color: #ff7909;
}

#menu ul li {
  margin: 1em;
  color: #f4f4f4;
  font-size: 3em;
  text-align: center;
}

#menu ul li:hover {
  color: #ff7909;
}

a {
  color: #222;
  text-decoration: none;
}

img {
  max-width: 100%;
}

small {
  color: #7c93ad;
}

.form-field {
  padding-top: 1em;
}

.form-field label {
  width: 100%;
  display: inline-block;
  color: #222;
}

.form-field input {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
}

.form-field textarea {
  width: 100%;
  height: 5em;
  padding: 0.8em;
  font-size: 1em;
}

.form-field .error {
  color: #ff7909;
  background-color: #222;
  padding: 0.3em;
}

button {
  padding: 10px;
  border: 0px;
  font-size: 1.2em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button.small {
  font-size: 0.5em;
}

button.default {
  background-color: #ff7909;
}

button.abort {
  color: #f4f4f4;
  background-color: #222;
}


/*# sourceMappingURL=critical.css.map*/