# Database
database_handler="pdo"
db_dsn="mysql:host=localhost"
db_name="dmdn"
db_user=""
db_pass=""

# URL 
address="http://www.youdomain.com"
# Path to URL
dir="/home/lissi/dev/SocialNetwork"

# Upload path & address
upload_path="/public/upload/"
upload_address="http://static.youdomain.com/public/upload/"

# For security reasons you should change this soon to another random string
salat="KJMnmnNUU&/§N(JH/h80h87fnunu43h8u7"

# Facebook Auth
facebook_auth=true;
facebook_app_id="";
facebook_app_secret="";


# Please point this to your Notification server
notification_server="ws://127.0.0.1:9000/notification";